body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: white; */
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 5vw;
    /* background-color: #a3006d; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.autojukebox {
    /* color: white; */
    font-size: 3.1rem;
    font-family: 'Audiowide', cursive;
}

.text-font-default {
    font-family: 'Open Sans', sans-serif;
}

#return {
    position: absolute;
    left: 0.5vw;
    height: 3vw;
    cursor: pointer;
}

.enabled-button {
    cursor: pointer;
    transition: 1s;
}

.disabled-button {
    filter: grayscale();
    cursor: not-allowed;
}

.menu {
    position: absolute;
    gap: 1vw;
    top: 5vw;
    width: 25vw;
    height: calc(100% - 5vw);

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    transition: 1s;
}

.genre-list-items {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    margin-top: 1vw;
}

.main {
    /* background-color: white; */
    width: calc(100% - 25vw);
    height: calc(100% - 5vw);
    position: absolute;
    right: 0;
    top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    transition: 1s;
    overflow-x: hidden;
    /* align-items: flex-end; */
}

.song-order {
    /* border-top: darkgray 0.3vw solid; */
    border-radius: 1vw;
    height: 50%;
    width: 100%;

    overflow: scroll;
    align-self: end;
    height: 50vh;
    /* overflow-y: initial;
    overflow-x: hidden; */
}

.song-1 {
    height: 20%;
    width: 98%;
    border-width: 0.25vw;
    border-style: solid;
    /* border-color: lightgray; */
    margin: 0.5vw;
    border-radius: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;

}

#song-1-focus {
    /* border-color: black; */
    font-weight: bold;
}

.song-1:hover {
    /* border: 0.25vw darkgray solid; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    transition: 0.3s;
}

.secondary-song-title {
    flex-basis: 60%;
    margin-left: 0.75vw;
    font-size: 1.5vw;

}

.play-button {
    position: relative;
    height: 90%;
    float: right;
}

.performer {
    text-align: left;
    flex-basis: 30%;
    margin-left: 0vw;
    padding: 0;
    font-size: 1.35vw;
}

.playing-music {
    width: 95%;
    height: 22vh;
    /* border-bottom: gray solid 0.25vw; */
    border-radius: 0.5vw;
    position: absolute;
    /* top: 0; */
    display: flex;
    align-items: center;
    /* margin-top: 4vw; */
    align-self: flex-start;
}

.slika-albuma {
    margin-left: 2vw;
}

.performer-playing {
    position: absolute;
    display: block;
    margin-left: 2vw;
    font-size: 2.5vw;
    width: 40vw;
    top: 2vw;
}

.performer-name-title {
    position: absolute;
    bottom: 2vw;
    margin-left: 2vw;
    font-size: 1.75vw;
}

.shuffle,
.previous,
.next {
    height: 2vw;

}

.repeat {
    height: 2vw;
}

.next {
    rotate: 180deg;
    /*i ovo postoji može se koristiti*/
}

.play {
    height: 4vw;
    width: 3vw;
}

.pauza {
    height: 4vw;
    width: 3vw;
}

.ton {
    height: 3vw;
    width: 3vw;
}


.controls {
    margin-right: 1vw;
    display: flex;
    align-items: center;
    gap: 1.5vw;
    position: absolute;
    right: 3vw;
}

.playlist-1 {
    width: 96%;
    height: 5vw;
    /* border: 0.5vw lightgray solid; */
    border-radius: 3vw;
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
}

.ime-playliste {
    /* color: white; */
    font-size: 2vw;
    margin-left: 1.5vw;
}

.tone {
    display: block;
    position: absolute;
    right: -1.75vw;
    top: 5vw;
    transform: rotate(270deg);
    width: 0vw;
}

.ton:hover + .tone {
    display: block;
}

.tone:hover {
    display: block;
}

#slider {
    width: 8vw;
}

.duration {
    position: absolute;
    bottom: -2vw;

}

#duration-slider {
    padding: 0;
    margin: 0;
    width: 21vw;

}

.playlist-box {
    width: 100%;
    height: 3vw;
    /* border: 0.25vw #333333 solid; */
    /* border-bottom: 0.25vw lightgray solid; */
    border-radius: 3vw;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

.playlist-item {
    /* color: white; */
    font-size: 1.7vw;
    margin-left: 1.5vw;
}

.button-to-add {
    width: 50%;
    height: 3vw;
    /* border: 0.25vw gray solid; */
    border-radius: 3vw;
    /* color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vw;
    font-size: 1vw;
    transition: 0.5s;
}

.button-to-add:hover {
    transition: 0.5s;
    transform: scale(1.15);
}

.playlist-column-button {
    background-image: url("../media/play_button.png");
    background-position: center;
    background-size: contain;
    height: 3vw;
    width: 25%;
    display: block;
    background-repeat: no-repeat;
    cursor: pointer;
}

.list-of-songs {
    width: 100%;
    border-collapse: collapse;
    /* background-color: white; */
    font-size: 1.3vw;
    text-align: center;
}

.time-view {
    display: flex;
    position: absolute;
    right: 42%;
    font-size: 1.5vw;
}

.button-to-add {
    cursor: pointer;
}

.song-1.dragging {
    opacity: 0.5;
}

.playlist-box:hover {
    /* border: 0.25vw solid darkgray; */
    transition: 0.4s;

}

.autopilot {
    position: relative;
    width: 4vw;
    height: 2.4vw;

    font-size: 0.5vw;
    font-size: 0.75vw;
    display: flex;
    justify-content: center;
    align-items: center;


    /*margin-left: 90%;
    margin-top: 1vh;*/
    left: 95%;
    margin-top: 0.5vw;
    transition: 0.5s;
}

.autopilot-pressed {
    position: relative;
    width: 4vw;
    height: 2.4vw;

    font-size: 0.5vw;
    font-size: 0.75vw;
    display: flex;
    justify-content: center;
    align-items: center;


    /*margin-left: 90%;
    margin-top: 1vh;*/
    left: 95%;
    margin-top: 0.5vw;
    transition: 0.5s;
}

.name-autopilot {
    font-size: 0.75vw;
}

/* width */
::-webkit-scrollbar {
    width: 0.75vw;
    border-radius: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    border-radius: 0.75vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: #888; */
    border-radius: 0.75vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* background: #555; */
}

.all-in-one {
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 0.25vw solid gray; */
    border-radius: 1vw;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.autopilot:hover {
    transition: 0.5s;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 11px; */
}

.autopilot-pressed:hover {
    transition: 0.5s;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 11px; */
}

.text-input {
    height: 1.5vw;
    margin-top: 1vw;
}

.play-button-disabled {
    position: relative;
    height: 90%;
    float: right;
    cursor: not-allowed;
}

.buttons-for-control-and-style {
    position: relative;
    width: inherit;
    display: flex;
    /* flex-direction: column; */

    /* gap: 80%; */
    align-items: center;
    justify-items: center;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.add-songs-container {
    width: 15%;
    transform: translateX(100%);
    height: 100%;
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: 0;
    top: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 0.6s;
}

.add-songs-container-shown {
    width: 15%;
    transform: translateX(0%);
    height: 100%;
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: 0;
    top: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 0.6s;
}

.button-for-adding-songs {
    cursor: pointer;
    width: 5vw;
    font-size: 1vw;
    border: darkgray 0.5vw solid;
    margin-bottom: 1vw;
    position: relative;
}

.close-songs {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5vw;
    padding: 2px;
    cursor: pointer;
    color: gray;
}

.chekcers-box {
    display: flex;
    flex-direction: column;
}

.container-for-song-1 {
    position: relative;
    height: 100%;
    width: 100%;
    /* z-index: -1; */

}

.button-checklist {
    border: 0.2vw solid gray;
}

#focus {
    width: 100%;
    height: 3vw;
    border: 0.25vw #333333 solid;
    border: 0.25vw lightgray solid;
    border-radius: 3vw;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

.span-for-error {
    color: red;
    margin: 1vw;
    font-size: 1.3vw;
}

.span-for-error-name {
    color: red;
    margin: 1vw;
    font-size: 1.3vw;
}
