# sav audio i favicon je maknut jer samo rade bloat
# user-interface je bila ideja od prije, ali ne radimo na tome
# Bloat u ❤️
#test multiline git messages
user-interface.html
favicon/
audio/
scripts/sati.txt
