.menu {
    background-color: #262626;
}

.playlist-box {
    border: 0.25vw #262626 solid;
    border-bottom: 0.25vw lightgray solid;
}

.playlist-box:hover {
    border: 0.25vw solid darkgray;
    /* transition: 0.4s; */

}

body {
    background-color: #525252;
}

.header {

    background-color: #313131;

}

.autojukebox {
    color: white;

}

.text-font-default #return .enabled-button .disabled-button
/* .genre-list-items .main {
    /* background-color: white;
} */

.song-order {
    border-top: darkgray 0.3vw solid;
}

.song-1 {
    border-color: lightgray;
    color: white;
}

.all-in-one {
    color: white;
}

#song-1-focus {
    border-color: black;

}

.song-1:hover {
    border: 0.25vw white solid;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;

}

.secondary-song-title .play-button .performer .playing-music {

    border-bottom: white solid 0.25vw;


}

/* .slika-albuma .performer-playing .performer-name-title .shuffle,
.previous,
.next .repeat .next .play .pauza .ton .controls  */

/* .playlist-1{
    border: 0.5vw white solid;
} */




/* .ime-playliste{
    color: white;
} */




/* .tone .ton:hover+.tone .tone:hover #slider .duration #duration-slider .playlist-box {

    border: 0.25vw pink solid;
    border-bottom: 0.25vw lightgray solid;

} */

.playlist-item {
    color: white;

}

.button-to-add {

    border: 0.25vw lightgray solid;

    color: white;

}

/* .button-to-add:hover .playlist-column-button .list-of-songs {

    background-color: pink;

} */

/* .time-view .button-to-add .song-1.dragging
.playlist-box:hover {
    border: 0.25vw solid pink;


} */

.autopilot {

    border: 0.3vw solid #212121;

    color: white;
    background-color: #333333;

}

.autopilot-pressed {

    border: 0.3vw solid black;

    color: white;

    background-color: #8C8C8C;

}

.name-autopilot
/* width */
::-webkit-scrollbar

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.all-in-one {

    border: 0.25vw solid lightgray;

    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.autopilot:hover {

    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 11px;
}

.autopilot-pressed:hover {

    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 11px;
}
